a:hover{
    text-decoration: none;
}
.clear_top{
    width: 100%;
    height: 2.45rem;
    background: url(../img/clear/clearBanner.png) no-repeat top center;
    background-size: 100%;
}
.clear_con{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
